<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" >

  <variable name="logDirectory"  value="${basedir}/logs/${shortdate}" />
  <targets async="true">

    <target name="FileManager"
            xsi:type="File"
            layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${message} ${machinename}${exception:format=tostring} ${processid} ${windows-identity:userName=true:domain=true} "
            fileName="${logDirectory}/traceLogs.txt"
            archiveFileName="${logDirectory}/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            createDirs="true"
            autoFlush="true" />
    <target name="FileManager2"
             xsi:type="File"
             layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${message} ${machinename}${exception:format=tostring} ${processid} ${windows-identity:userName=true:domain=true} "
             fileName="${logDirectory}/ErrorLogs.txt"
             archiveFileName="${logDirectory}/log.{#}.txt"
             archiveEvery="Day"
             archiveNumbering="Rolling"
             maxArchiveFiles="7"
             concurrentWrites="true"
             createDirs="true"
             autoFlush="true" />


  </targets>
  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="FileManager" />
    <logger name="*" minlevel="Error" writeTo="FileManager2" />
  </rules>
</nlog>